repos:
- repo: https://github.com/sourcery-ai/sourcery
  rev: v1.23.0
  hooks:
  - id: sourcery
    # The best way to use Sourcery in a pre-commit hook:
    # * review only changed lines:
    # * omit the summary
    args: [--diff=git diff HEAD, --no-summary]
